<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>account</title>
        <link rel="stylesheet" type="text/css" href="../css/layout.css" />
        <link rel="stylesheet" type="text/css" href="../css/common.css" />
        <link rel="stylesheet" type="text/css" href="../css/account.css" />
    </head>

    <body>
        <div class="body">
            <div class="container">
                <?
                include 'header.html';
                ?>
                <div class="cblock">
                    <div class="table_row">
                    <div class="sidebar">
                        <div class="left_sidebar">
                            <? for ($i = 0; $i < count($data); $i++) { ?>
                                <a href="account.php?type=<?=$data[$i][0] ?>"><?=$data[$i][1] ?> (<?=$data[$i][count($data)] ?>)</a><br/>
                                <? if (!empty($_REQUEST['type']) && $data[$i][0] == $_REQUEST['type']) { ?>
                                    <div class="subdecor">
                                        <?for ($j = 0; $j < count($subdata); $j++) {?>
                                            <a href="account.php?type=<?=$data[$i][0] ?>&matter=<?=$subdata[$j][0] ?>"><?=$subdata[$j][1] ?> (<?=$subdata[$j][count($subdata)] ?>)</a><br/>
                                        <? } ?>
                                    </div>
                                <? }} ?>
                        </div>
                    </div>
                    <div class="main">
                        <? for ($i = 0; $i < count($products); $i++) { ?>
                           <div class="product_item">
                               <img src="../img/products/<?=$products[$i][5] ?>" />
                               <a href=""><?=$products[$i][1] ?></a><br />
                               <span><?=$products[$i][4] ?> руб</span>
                           </div>
                         <? } ?>
                    </div>
                </div>
                </div>
            </div>
        </div>

    </body>
</html>
