/* Registration */
div.registration {
	width: 100%;
}
div.registration table.authform tr td.label {
	width: 131px;
}
div.registration table.authform  input.full {
	width: 98%;
	padding-left: 1%;
	padding-right: 1%;
	border: 1px solid gray;
	line-height: 19px;
}
div.registration table.authform select.full {
	width: 100%
}

/* Table for form */
table.authform {
	width: 100%;
}
table form tr td {
	padding: 10px;
	border-top: 1px solid #eaeaea;
}
table.authform tr td.label {
	padding-right: 0;
	padding-top: 12px;
}
/* Autorization */
div.autorization .login {
	width: 98%;
	border: 1px solid;
	padding: 4px;
	color: gray;
	margin: 10px 1px;
	font-size: 18px;
	line-height: 21px;
}
/* Header */
img.logo {
	float: left;
	width: 170px;
	height: 170px;
	margin: 20px 60px;
}
div.welcome {
	float: right;
	margin: 20px;
}
h1.caption {
	position: absolute;
	left: 550px;
	top: 90px;
	line-height: 30px;
	font-size: 30px;
	color: #8b6149;
	font-family: Arial, Helvetica, sans-serif;
}
div.remember {
	padding-bottom: 20px;
	border-bottom: 1px solid #eaeaea;
	margin: 10px 0;
	position: relative;
}
div.remember a {
	position: absolute;
	right: 0;
	top: 0;
}
div#band {
	background: url(../img/fen.png) repeat-x;
}
.error_message {
	color: red;
}
