/* Body */
body {
	color: #505050;
	background: #50948a;
	font-size: 14px;
	line-height: 16px;
	font-family: Arial, Helvetica, sans-serif;
}
/* Container */
div.container {
	width: 1200px;
	margin: 0 auto;
	background: #fff;
}
/* Header */
div.header {
	height: 210px;
}
/* Center Block */
div.cblock {
	border: 1px solid #d0d9dd;
	clear: left;
	padding: 16px 20px;
	overflow: hidden;
}
/* Table layout */
table.layout {
	width: 100%;
	border-collapse: collapse;
}
table.layout tr td.left-block {
	width: 192px;
}
table.layout tr td.right-block {
	width: 252px;
}
table.layout tr td.middle-block {
	width: auto;
}
table.layout tr td {
	vertical-align: top;
}
table.layout td.left-block {
	font-size: 11px;
	line-height: 14px;
}
table.layout .left-block strong {
	color: #4b4b4b;
}



p.left {
	position: relative;
	float: left;
}